{% extends "index.html" %}
{% load static %}
{% block title %}
Home | Fraud Detection System
{% endblock %}
{% block css %}

<link href="{% static 'assets/css/teststyle.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<main id="main" >

  <!-- ======= Hero Section ======= -->
  <section id="homesection" style="padding: 0px 0px;
  margin-bottom: 92px;
  ">
<!--__________________________________ header-box______________________________________________ -->
<div id="header-container" style="
 background-image: url(/static/assets/img/slide/Rectangle%203.png);
 background-repeat: no-repeat;
 height: 32vh;
 background-position: center bottom;
 background-size: 100% auto;
 "></div>
<div id="header-container">
	<h1 id="header2">MUDAR SENHA</h1>
</div>
<!-- ___________________________________main-division____________________________________________ -->

<div id=upload-container style="margin-bottom: 10px;">
	<div id=upload-header-container>
		<h3 id="upload-header">MUDAR SENHA</h3>
	</div>
	<div class="upload">
		<form class="upload-form" style="text-align: center;">
			<label>Nova Senha</label><br>
			<input type="text" name=""  placeholder="New Password"><br>
			<label>Confirmar Senha</label><br>
			<input  type="text" placeholder="Confirm Password"><br>
			<input class="btn" type="button" name="" value="MUDAR SENHA"style="
			background-color: #4471e2;">
		</form>
	</div>
</div>
  </section><!-- End Hero -->

  </main>

  
{% endblock %}

	
{% block style %}

.btn{
	width: 100%;
	margin: 0px auto 0px auto;
	padding: 10px;
	color: #FFFFFF;
	font-size: 15px;
	background-color: #5cb874;
	border-style: none;
	 
}
.btn:hover{
	opacity: 0.8;
}
.btn-cover{
	width: 90%;
	margin: 20px auto 10px auto;

}


{% endblock %}




<!DOCTYPE html>
<html>
<head>
	<title>Detecção de Fraude</title>
	<link rel="stylesheet" type="text/css" href="teststyle.css">
</head>
<body>
	
</body>
</html>