{% extends "index.html" %}
{% load static %}
{% block title %}
Home | Fraud Detection System
{% endblock %}

{% block css %}

<link href="{% static 'assets/css/teststyle.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<main id="main" style = "margin-bottom: 92px;">
  
	  

    <!-- ======= Hero Section ======= -->
    <section id="homesection" style="padding: 0px 0px;">
         <!--__________________________________ header-box______________________________________________ -->
         <div id="header-container" style="
         background-image: url(/static/assets/img/slide/Rectangle%203.png);
         background-repeat: no-repeat;
         height: 32vh;
         background-position: center bottom;
         background-size: 100% auto;
         "></div>
 <div id="header-container">
	<h1 id="header2">TODOS OS CONJUNTOS DE DADOS DE CARTÃO DE CRÉDITO</h1>

</div>
        <table id="example" class="table table-striped" style="width:90%;margin: 1% 4%;margin-top: 50px;" >
            <thead style="color: black;text-align: center;background-color: #D9D9D9;">
                <tr>
                    <th>Sr. No</th>
                    <th>Nome do arquivo</th>
                    <th>Descrição</th>
                    <th>Atuação</th>
                    
                </tr>
            </thead>
            <tbody style="text-align: center;">
                {% for i in all_files %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.file_name}}</td>
                    <td>{{i.description |truncatechars:60}}</td>
                    <td>
                        
                        <a href="{% url 'view_data_detail' i.file_name %}"><button type="button" class="btn btn-primary">Ver dados</button></a>
                    
                        <a href="{% url 'delete_data' i.id %}"><button type="button" class="btn btn-secondary" style="
                            background-color: #dc3545;
                            border-color: #dc3545;
                        ">Deletar</button></a>
                   
                        <a href="{% url 'analysis' i.file_name %}"><button type="button" class="btn btn-danger" style="
                            background-color: #198754;
                            border-color: #198754;
                        ">Análise</button></a>
                        
                </tr>
                {% endfor %}
            </tbody> 
        </table>   
     

    </section><!-- End Hero -->
  
    </main>
  
{% endblock %}

